Let's import pandas

In [1]:
import pandas as pd

### 1. Load Data into Pandas

###### 1.CSV File import
     - save .csv file in Desktop any folder    
     - go to 'File' option in jupyter notebook
     - Select Desktop option and open your file..wait 
           Don't open your .csv file.
     -just start new project from there and follow bellow code, it's easy to upload .csv data

In [4]:
df = pd.read_csv('pokemon_data.csv')
print(df.head(5))

   #                   Name Type 1  Type 2  HP  Attack  Defense  Sp. Atk  \
0  1              Bulbasaur  Grass  Poison  45      49       49       65
1  2                Ivysaur  Grass  Poison  60      62       63       80
2  3               Venusaur  Grass  Poison  80      82       83      100
3  3  VenusaurMega Venusaur  Grass  Poison  80     100      123      122
4  4             Charmander   Fire     NaN  39      52       43       60

   Sp. Def  Speed  Generation  Legendary
0       65     45           1      False
1       80     60           1      False
2      100     80           1      False
3      120     80           1      False
4       50     65           1      False

###### 2. Excel File import

In [5]:
df = pd.read_excel('pokemon_data.xlsx')
print(df)

       #                   Name   Type 1  Type 2  HP  Attack  Defense  \
0      1              Bulbasaur    Grass  Poison  45      49       49
1      2                Ivysaur    Grass  Poison  60      62       63
2      3               Venusaur    Grass  Poison  80      82       83
3      3  VenusaurMega Venusaur    Grass  Poison  80     100      123
4      4             Charmander     Fire     NaN  39      52       43
..   ...                    ...      ...     ...  ..     ...      ...
795  719                Diancie     Rock   Fairy  50     100      150
796  719    DiancieMega Diancie     Rock   Fairy  50     160      110
797  720    HoopaHoopa Confined  Psychic   Ghost  80     110       60
798  720     HoopaHoopa Unbound  Psychic    Dark  80     160       60
799  721              Volcanion     Fire   Water  80     110      120

     Sp. Atk  Sp. Def  Speed  Generation  Legendary
0         65       65     45           1      False
1         80       80     60           1      False
2        100      100     80           1      False
3        122      120     80           1      False
4         60       50     65           1      False
..       ...      ...    ...         ...        ...
795      100      150     50           6       True
796      160      110    110           6       True
797      150      130     70           6       True
798      170      130     80           6       True
799      130       90     70           6       True

[800 rows x 12 columns]

 ###### 3.Text File import

In [6]:
df = pd.read_csv('pokemon_data.txt', delimiter = '\t')
print(df)

       #                   Name   Type 1  Type 2  HP  Attack  Defense  \
0      1              Bulbasaur    Grass  Poison  45      49       49
1      2                Ivysaur    Grass  Poison  60      62       63
2      3               Venusaur    Grass  Poison  80      82       83
3      3  VenusaurMega Venusaur    Grass  Poison  80     100      123
4      4             Charmander     Fire     NaN  39      52       43
..   ...                    ...      ...     ...  ..     ...      ...
795  719                Diancie     Rock   Fairy  50     100      150
796  719    DiancieMega Diancie     Rock   Fairy  50     160      110
797  720    HoopaHoopa Confined  Psychic   Ghost  80     110       60
798  720     HoopaHoopa Unbound  Psychic    Dark  80     160       60
799  721              Volcanion     Fire   Water  80     110      120

     Sp. Atk  Sp. Def  Speed  Generation  Legendary
0         65       65     45           1      False
1         80       80     60           1      False
2        100      100     80           1      False
3        122      120     80           1      False
4         60       50     65           1      False
..       ...      ...    ...         ...        ...
795      100      150     50           6       True
796      160      110    110           6       True
797      150      130     70           6       True
798      170      130     80           6       True
799      130       90     70           6       True

[800 rows x 12 columns]

## 2. Reading Data in Pandas

##### Remove # to run code, different commands are seperates by spaces

In [7]:
#Read Headers

df.columns

#print(df[['Name', 'Type 1', 'HP']])

#Read Each Row
#print(df.iloc[0:4])

#for index, row in df.iterrows():
#    print(index,row)

#for index, row in df.iterrows():
#    print(index,row['Name'])
    
#df.loc[df['Type 1'] == "Grass"]    
#df.describe()

#df.sort_values('Name', ascending = False)
#df.sort_values(['Name', 'HP'], ascending = True)
#df.sort_values('Name', ascending = [1, 0])

Index(['#', 'Name', 'Type 1', 'Type 2', 'HP', 'Attack', 'Defense', 'Sp. Atk',
       'Sp. Def', 'Speed', 'Generation', 'Legendary'],
      dtype='object')

## 3. Making Changes to the data

In [8]:
#df['Total'] = df['HP'] + df['Attack'] + df['Defense'] + df['Sp. Atk'] + df['Sp. Def'] +df['Speed']

#df = df.drop(columns = ['Total'])

#df['Total'] = df.iloc[:, 4:10].sum(axis=1)

cols = list(df.columns)
df = df[cols[0:4] + [cols[-1]] + cols[4:12]]

df.head(5)

,#,Name,Type 1,Type 2,Legendary,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,False,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,False,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,False,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,False,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,False,39,52,43,60,50,65,1,False

### 4. Saving modified csv, excel and txt

Below command will save modified data in Desktop folder where you saved original .csv file

In [9]:
#df.to_csv('modified.csv', index = False)

#df.to_excel('modified.xlsx', index = False)

df.to_csv('modified.csv', index = False, sep = '\t')

### 5. Filtering Data

In [10]:
#df.loc[(df['Type 1'] == 'Grass') & (df['Type 2'] == 'Poison')]

#df.loc[(df['Type 1'] == 'Grass') | (df['Type 2'] == 'Poison')]

#df.loc[(df['Type 1'] == 'Grass') & (df['Type 2'] == 'Poison') & (df['HP'] > 70)]


#new_df = df.loc[(df['Type 1'] == 'Grass') & (df['Type 2'] == 'Poison') & (df['HP'] > 70)]
#new_df.to_csv('filtered.csv')

#new_df.reset_index(drop = True, inplace = True)
#new_df

#df.loc[df['Name'].str.contains('Mega')]

df.loc[~df['Name'].str.contains('Mega')]

,#,Name,Type 1,Type 2,Legendary,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,False,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,False,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,False,80,82,83,100,100,80,1,False
4,4,Charmander,Fire,NaN,False,39,52,43,60,50,65,1,False
5,5,Charmeleon,Fire,NaN,False,58,64,58,80,65,80,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
794,718,Zygarde50% Forme,Dragon,Ground,True,108,100,121,81,95,95,6,True
795,719,Diancie,Rock,Fairy,True,50,100,150,100,150,50,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,True,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,True,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,True,80,110,120,130,90,70,6,True

###### using regression

In [ ]:
import re

#df.loc[df['Type 1'].str.contains('fire|grass', flags = re.I, regex = True)]

#df.loc[df['Type 1'].str.contains('Fire|Grass', regex = True)]

df.loc[df['Name'].str.contains('^pi[a-z]*', flags = re.I, regex = True)]

### 6. Conditional Changes

In [13]:
# df.loc[df['Total'] > 500, ['Generation','Legendary']] = ['Test 1', 'Test 2']

# df

df = pd.read_csv('modified.csv', delimiter = '\t')

df

,#,Name,Type 1,Type 2,Legendary,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary.1
0,1,Bulbasaur,Grass,Poison,False,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,False,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,False,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,False,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,False,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,True,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,True,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,True,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,True,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,True,80,110,120,130,90,70,6,True

### 6. Aggregate Statistics (Groupby)

In [14]:
df = pd.read_csv('modified.csv', delimiter = '\t')
#df

#df.groupby(['Type 1']).mean().sort_values('Defense', ascending = False)
#df.groupby(['Type 1']).mean().sort_values('Attack', ascending = False)
#df.groupby(['Type 1']).mean().sort_values('HP', ascending = False)

#df.groupby(['Type 1']).count()

df['count'] = 1

#df.groupby(['Type 1']).count()['count']

df.groupby(['Type 1', 'Type 2']).count()['count']

Type 1  Type 2
Bug     Electric     2
        Fighting     2
        Fire         2
        Flying      14
        Ghost        1
                    ..
Water   Ice          3
        Poison       3
        Psychic      5
        Rock         4
        Steel        1
Name: count, Length: 136, dtype: int64